<ion-header [translucent]="true">
  <ion-item lines = "none" color = "warning"> 
   <ion-buttons slot="start">
     <ion-back-button color = "light" defaulthref="/checklists"></ion-back-button>
   </ion-buttons>
   <ion-title color = "light">Món ăn </ion-title>
 
  </ion-item>
 </ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
 

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let order of orderFoods" [routerLink]="[order.id]">
          <div class="col_div">
            <ion-img src = {{order.image}}></ion-img>
            <p class="title">{{order.name}}</p>
            <p class="price">{{order.amount}}</p>
          </div>
      </ion-col>
    </ion-row>

  </ion-grid>
   
        
 

  
</ion-content>
