<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tableOrders">
    <p>Bàn 1</p>
  </div>
  <div class="item-order">
    <ion-row>
      <ion-img src="assets/images/product1.jpg" alt=""></ion-img>
      <div class="inforFood">
        <p class="nameFood">Bò Wellington</p>
        <p class="categoryFood">Món âu</p>
        <p class="quantity">Số lượng: 2</p>
        <ion-button>Hủy</ion-button>
      </div>
    </ion-row>
  </div>
  <div class="item-order">
    <ion-row>
      <ion-img src="assets/images/product1.jpg" alt=""></ion-img>
      <div class="inforFood">
        <p class="nameFood">Bò Wellington</p>
        <p class="categoryFood">Món âu</p>
        <p class="quantity">Số lượng: 2</p>
        <ion-button>Hủy</ion-button>
      </div>
    </ion-row>
  </div>
  <div class="item-order">
    <ion-row>
      <ion-img src="assets/images/product1.jpg" alt=""></ion-img>
      <div class="inforFood">
        <p class="nameFood">Bò Wellington</p>
        <p class="categoryFood">Món âu</p>
        <p class="quantity">Số lượng: 2</p>
        <ion-button>Hủy</ion-button>
      </div>
    </ion-row>
  </div>
  <div class="item-order">
    <ion-row>
      <ion-img src="assets/images/product1.jpg" alt=""></ion-img>
      <div class="inforFood">
        <p class="nameFood">Bò Wellington</p>
        <p class="categoryFood">Món âu</p>
        <p class="quantity">Số lượng: 2</p>
        <ion-button>Hủy</ion-button>
      </div>
    </ion-row>
  </div>
  <div class="item-order">
    <ion-row>
      <ion-img src="assets/images/product1.jpg" alt=""></ion-img>
      <div class="inforFood">
        <p class="nameFood">Bò Wellington</p>
        <p class="categoryFood">Món âu</p>
        <p class="quantity">Số lượng: 2</p>
        <ion-button>Hủy</ion-button>
      </div>
    </ion-row>
  </div>
</ion-content>
