<ion-header>
  <ion-toolbar lines="none" color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bottom-tab-page/tabs/order">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light">Giỏ hàng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tableOrders">
    <p>{{this.tableId}}</p>
  </div>
  <div class="container">
    <div class="food-card" *ngFor="let item of this.orderFull">
      <img src="{{item.image}}" alt="" />
      <div class="infor-food">
        <p class="nameFood">{{item.name}}</p>
        <p class="categoryFood">{{item.category}}</p>
        <p class="quantity">Số lượng: {{item.quantity}}</p>
      </div>
      <ion-button (click)="this.handleRemove(item.id)">Hủy</ion-button>
    </div>
  </div>
</ion-content>
