<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/order-table"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">My orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tableOrders">
    <p>Bàn {{myOrders.table}}</p>
  </div>
  <div class="item-order" *ngFor="let myorder of myOrders.itemOrder">
    <ion-row >
      <ion-img src={{myorder.image}} alt=""></ion-img>
      <div class="inforFood">
        <p class="nameFood">{{myorder.nameFood}}</p>
        <p class="categoryFood">{{myorder.category}}</p>
        <p class="quantity">Số lượng: {{myorder.quantity}}</p>
        <ion-button>Hủy</ion-button>
      </div>
    </ion-row>
  </div>
</ion-content>
