* {
    font: Inria Sans;
}

//////////// Toolbar ////////////////
.toolbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #FFA724;
    /////////////
    ion-back-button {
        float: left;
        color: white;
    }
    ////////////
    label {
        float: left;
        font-size: 20px;
        margin-top: 12px;
        color: white;
    }
}

.toolbar-end {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #FFA724;
    position: fixed;
    right: 0;
    padding: 0.5rem;
    margin-right: 10px;
    ion-icon {
        height: 30px;
        width: 30px;
        color: white;
    }
    img {
        width: 35px;
        height: 35px;
    }
}

//////////// User ////////////////
.container-user {
    height: 120px;
    border: 1px solid none;
    border-radius: 10px;
    background-color: #F3F3F3;
    display: flex;
    padding: 1rem;
    strong {
        margin-left: 10px;
        font-size: 18px;
    }
    label {
        margin-left: 10px;
        color: #A8A6A6;
    }
    ion-icon {
        border-bottom: 1px solid black;
    }
    ion-button {
        color: black;
        position: absolute;
        float: right;
        right: 0%;
        margin-top: 30px;
    }
    div {
        margin-top: 30px;
    }
}

//////////// Button ////////////////
.container-button {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #F1F1F1;
    --ion-color-primary: #F6F6F6;
    border-radius: 15px;
    /////////////////
    ion-button {
        color: black;
        border: 1px solid none;
        border-radius: 180px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 5px;
        font-weight: 550;
        text-transform: none;
        height: 40px;
        --border-radius: 180px;
    }
     :hover {
        --ion-color-primary: #FFA724;
        --transition: 0.8s;
    }
    ion-icon {
        height: 25px;
        width: 25px;
        margin: 0 7px 0 7px;
    }
}