<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
    <ion-title color="light"> Trang chủ </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-user">
    <div>
      <strong>Billy Meme</strong>
      <ion-button fill="clear">
        <ion-icon name="pencil-sharp"></ion-icon>
      </ion-button>
      <label>billymeme@gmail.com</label>
    </div>
  </div>

  <div class="container-button">
    <ion-button>
      <ion-icon name="bag-handle-outline"></ion-icon>
      Đơn đặt món của tôi</ion-button
    >
    <ion-button>
      <ion-icon name="heart-outline"></ion-icon>
      Sở thích</ion-button
    >
    <ion-button>
      <ion-icon name="wallet-outline"></ion-icon>
      Phương thức thanh toán</ion-button
    >
    <ion-button>
      <ion-icon name="key-outline"></ion-icon>
      Thay đổi mật khẩu</ion-button
    >
    <ion-button>
      <ion-icon name="person-outline"></ion-icon>
      Thông tin chi tiết</ion-button
    >
    <ion-button style="margin-top: 50px">
      <ion-icon name="document-lock-outline"></ion-icon>
      Chính sách và điều khoản</ion-button
    >
  </div>

  <div class="container-control">
    <div style="">
      <ion-button fill="clear">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-button>
    </div>

    <ion-button fill="clear">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      Message
    </ion-button>
    <ion-button fill="clear">
      <ion-icon name="newspaper-outline"></ion-icon>
      Order
    </ion-button>
    <ion-button fill="clear">
      <ion-icon name="call-outline"></ion-icon>
      Contact
    </ion-button>
    <ion-button fill="clear">
      <ion-icon name="settings"></ion-icon>
      Settings
    </ion-button>
  </div>
</ion-content>
