<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">Đặt bàn</ion-title>
    <ion-icon name="cart" slot="end" (click)="gotoCart()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-container">
    <ion-button class="table" (click)="gotoCategory()">
      <ion-icon src="/assets/icon/ring.svg"></ion-icon>
      <p>Bàn 1</p>
    </ion-button>
    <ion-button class="table" (click)="gotoCategory()">
      <ion-icon src="/assets/icon/ring.svg"></ion-icon>
      <p>Bàn 2</p>
    </ion-button>
    <ion-button class="table" (click)="gotoCategory()">
      <ion-icon src="/assets/icon/ring.svg"></ion-icon>
      <p>Bàn 3</p>
    </ion-button>
    <ion-button class="table" (click)="gotoCategory()">
      <ion-icon src="/assets/icon/ring.svg"></ion-icon>
      <p>Bàn 4</p>
    </ion-button>
    <ion-button class="table" (click)="gotoCategory()">
      <ion-icon src="/assets/icon/ring.svg"></ion-icon>
      <p>Bàn 5</p>
    </ion-button>
    <ion-button class="table" (click)="gotoCategory()">
      <ion-icon src="/assets/icon/ring.svg"></ion-icon>
      <p>Bàn 6</p>
    </ion-button>
  </div>
</ion-content>
