<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">Đặt bàn</ion-title>
    <ion-icon name="cart" slot="end" (click)="gotoCart()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-container">
    <ion-col size="6" *ngFor="let table of tables" [routerLink]="[table.id]">
      <div (click)="goToCate()">
        <div *ngIf="table.status == true">
          <div class="table table-fill">
            <div class="table-rec"></div>
            <ion-icon src="/assets/icon/ring.svg"></ion-icon>
            <p>{{table.nameTable}}</p>
          </div>
        </div>
        <div *ngIf="table.status === false">
          <div class="table">
            <div class="table-rec"></div>
            <ion-icon src="/assets/icon/ring.svg"></ion-icon>
            <p>{{table.nameTable}}</p>
          </div>
        </div>
      </div>
    </ion-col>
  </div>
 
</ion-content>
