<ion-header>
  <ion-toolbar color="warning">
     <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/">
    </ion-back-button>
     </ion-buttons>
       <ion-title color="light">Đặt bàn</ion-title>
    <ion-button slot="end" color="warning">
      <ion-icon name="bag-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-container">
    <div class="table table-fill">
      <div class="table-rec"></div>
      <div> 
        <ion-icon src="/assets/icon/ring.svg"></ion-icon>
        <p>Bàn 1</p>
      </div>
    </div>
    <div class="table" (click)="gotoRating()">
      <div class="table-rec"></div>
      <div> 
        <ion-icon src="/assets/icon/ring.svg"></ion-icon>
        <p>Bàn 2</p>
      </div>
    </div>
    <div class="table">
      <div class="table-rec"></div>
      <div> 
        <ion-icon src="/assets/icon/ring.svg"></ion-icon>
        <p>Bàn 3</p>
      </div>
    </div>
    <div class="table">
      <div class="table-rec"></div>
      <div> 
        <ion-icon src="/assets/icon/ring.svg"></ion-icon>
        <p>Bàn 4</p>
      </div>
    </div>
    <div class="table table-fill">
      <div class="table-rec"></div>
      <div> 
        <ion-icon src="/assets/icon/ring.svg"></ion-icon>
        <p>Bàn 5</p>
      </div>
    </div>
    <div class="table">
      <div class="table-rec"></div>
      <div> 
        <ion-icon src="/assets/icon/ring.svg"></ion-icon>
        <p>Bàn 6</p>
      </div>
    </div>
  </div>
  <!-- <ion-footer>
   <div class="container-control">
        <ion-button fill="clear" class="control-button">
          <div>
          <ion-icon name="home-outline"></ion-icon>
          <span>Home</span>
          </div>
        </ion-button>
        <ion-button fill="clear">
          <div>
            <ion-icon name="chatbubble-ellipses"></ion-icon>
           <span>Message</span> 
          </div>
        </ion-button>
        <ion-button fill="clear">
          <div>
            <ion-icon name="newspaper-outline"></ion-icon>
           <span>Order</span> 
          </div>
        </ion-button>
        <ion-button fill="clear">
          <div>
            <ion-icon name="call-outline"></ion-icon>
            <span>Contact</span>
          </div>
        </ion-button>
        <ion-button fill="clear">
          <div>
            <ion-icon name="settings"></ion-icon>
           <span>Settings</span> 
          </div>
        </ion-button>
    </div>
  </ion-footer> -->
</ion-content>
  