<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title color="light"> Liên hệ </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-button>
      <ion-col>
        <ion-img src="assets/icon/receptionist.png" alt=""></ion-img>
        Lễ tân
      </ion-col>
    </ion-button>
    <ion-button>
      <ion-col>
        <ion-img src="assets/icon/guard.png" alt=""></ion-img>
        Bảo vệ
      </ion-col>
    </ion-button>
  </ion-row>

  <ion-row>
    <ion-button>
      <ion-col>
        <ion-img src="assets/icon/taxi.png" alt=""></ion-img>
        Taxi
      </ion-col>
    </ion-button>
  </ion-row>

  <!-- <ion-footer >
    <div class="container-control">
         <ion-button fill="clear" class="control-button">
           <div>
           <ion-icon name="home-outline"></ion-icon>
           <span>Home</span>
           </div>
         </ion-button>
         <ion-button fill="clear">
           <div>
             <ion-icon name="chatbubble-ellipses"></ion-icon>
            <span>Message</span> 
           </div>
         </ion-button>
         <ion-button fill="clear">
           <div>
             <ion-icon name="newspaper-outline"></ion-icon>
            <span>Order</span> 
           </div>
         </ion-button>
         <ion-button fill="clear">
           <div>
             <ion-icon name="call-outline"></ion-icon>
             <span>Contact</span>
           </div>
         </ion-button>
         <ion-button fill="clear">
           <div>
             <ion-icon name="settings"></ion-icon>
            <span>Settings</span> 
           </div>
         </ion-button>
     </div>
   </ion-footer> -->
</ion-content>
