<ion-header [translucent]="true">
 <ion-item lines = "none" color = "warning"> 
  <ion-buttons slot="start">
    <ion-back-button color = "light" defaulthref="/checklists"></ion-back-button>
  </ion-buttons>
  <ion-title color = "light">Thông tin món </ion-title>
    <ion-cart slot="end">
      <img src = "assets/icon/cart.png"/>
    </ion-cart>
 </ion-item>
</ion-header>

<ion-content [fullscreen] = "true" color="light">
<div class = "main-header">

    <div class = "first">
      
       <h1>Hamburger</h1>  
        <p>Thịt bò, salat, bánh mì</p>
        <h3>Món âu</h3>
      
      
      <p><img height="15" width="15" src = "assets/icon/star.png"> 4.8 (<span>286</span> Đánh giá)</p>
    </div>

    


<div class = "second">
  <ion-button color ="warning" size="small" shape="round">Order now</ion-button><br>
  <ion-button color ="warning" size="small" shape="round">Đánh giá</ion-button>
</div>


 
</div>
<div class = "body-main">
   <h4>Gợi ý</h4>
</div>



</ion-content>
