<ion-content [fullscreen]="true" color="light">
  <div class="header">
    <ion-img class="img-Food" src="{{this.foodDetails.image}}">
    </ion-img>
    <ion-button class="backToOrderFood" (click)="backToOrderFood()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button class="like">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="info-food">
    <h1>{{this.foodDetails.name}}</h1>
    <p>
      <ion-icon name="star"></ion-icon> {{this.foodDetails.review}} (<span>286</span>
      Đánh giá)
    </p>
    <p class="category">{{this.foodDetails.nameCate}}</p>
    <p class="des">
      {{this.foodDetails.detail}}
    </p>
  </div>
  <div class="footer">
    <div class="price">
      <p><small>Giá:</small></p>
      <p>{{this.foodDetails.amount}}</p>
    </div>

    <div class="group-button">
      <ion-button class="order">Đặt ngay</ion-button>
      <ion-button class="review">Đánh giá</ion-button>
    </div>
  </div>
</ion-content>
