<ion-header [translucent]="true">
 <ion-item lines = "none" color = "warning"> 
  <ion-buttons slot="start">
    
    <ion-back-button color = "light" defaulthref="/checklists"></ion-back-button>
  </ion-buttons>
  <ion-title color = "light">Thông tin món </ion-title>
    <!-- <ion-cart slot="end">
      <img src = "assets/icon/cart.png"/>
    </ion-cart> -->
 </ion-item>
</ion-header>

<ion-content [fullscreen] = "true" color="light">
<div class = "main-header">

   
    
 

    <ion-img class ="first" src="assets/icon/star.png"></ion-img>
    <div class = "well">
       <h1>{{food.name}}</h1>
      <p>{{food.detail}}</p>
      <h3>{{food.nameCate}}</h3>
    </div>
 
    
      
      
      <p><img height="15" width="15" src = "assets/icon/star.png"> {{food.review}}</p>
   
  
   

    


<div class = "second">
  <ion-button color ="warning" size="small" shape="round" >Order now</ion-button><br>
  <ion-button color ="warning" size="small" shape="round" (click)="review()">Đánh giá</ion-button>
</div>
</div>

<div class = "body-main">
   <h4>Gợi ý</h4>
   <div class="suggest">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" *ngFor="let order of orderFoods">
            <div class="col_div">
              <ion-img src = {{order.image}}></ion-img>
              <p class="title">{{order.name}}</p>
              <p class="price">{{order.amount}}</p>
            </div>
        </ion-col>
      </ion-row>
  
    </ion-grid>
   </div>
</div>



</ion-content>
