<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      Thể loại
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <div class="food-types-container" >
    <div class="food-type" *ngFor="let item of categories" (click)="gotoOrderFood()" >
      <h2 >{{item.nameCate}} </h2>
      <!-- <p >100 món</p> -->
    </div> 
    
  </div>

 <!-- <ion-footer>
    <div class="container-control">
      <ion-button fill="clear" class="control-button">
        <div>
          <ion-icon name="home-outline"></ion-icon>
          <span>Home</span>
        </div>
      </ion-button>
      <ion-button fill="clear">
        <div>
          <ion-icon name="chatbubble-ellipses"></ion-icon>
          <span>Message</span>
        </div>
      </ion-button>
      <ion-button fill="clear">
        <div>
          <ion-icon name="newspaper-outline"></ion-icon>
          <span>Order</span>
        </div>
      </ion-button>
      <ion-button fill="clear">
        <div>
          <ion-icon name="call-outline"></ion-icon>
          <span>Contact</span>
        </div>
      </ion-button>
      <ion-button fill="clear">
        <div>
          <ion-icon name="settings"></ion-icon>
          <span>Settings</span>
        </div>
      </ion-button>
    </div>
  </ion-footer> -->
</ion-content>
