<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      Thể loại
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <div class="food-types-container" >
    <div class="food-type" *ngFor="let item of categories" (click)="gotoOrderFood()" >
      <!-- <ion-img class ="first" src={{item.image}}></ion-img> -->
      <h2 >{{item.nameCate}} </h2>
      
    </div> 
    
  </div>

 
</ion-content>
