<ion-header [translucent]="true">
  <ion-toolbar color = "warning">
    <ion-buttons slot="start">
      <ion-back-button color = "light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color = "light">Messages</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="notifications-container">
    <p>Sir, your order is ready. Please sit at table 2. Thank you.</p>
    <ion-img src="assets/icon/done.png" alt=""></ion-img>
  </div>
  <div class="notifications-container">
    <p>Sir, your order is ready. Please sit at table 2. Thank you.</p>
    <ion-img src="assets/icon/done.png" alt=""></ion-img>
  </div>
  <div class="notifications-container">
    <p>Sir, your order is ready. Please sit at table 2. Thank you.</p>
    <ion-img src="assets/icon/done.png" alt=""></ion-img>
  </div>
  <div class="notifications-container">
    <p>Sir, your order is ready. Please sit at table 2. Thank you.</p>
    <ion-img src="assets/icon/done.png" alt=""></ion-img>
  </div>
  <div class="notifications-container">
    <p>Sir, your order is ready. Please sit at table 2. Thank you.</p>
    <ion-img src="assets/icon/done.png" alt=""></ion-img>
  </div>
  <div class="notifications-container">
    <p>Sir, your order is ready. Please sit at table 2. Thank you.</p>
    <ion-img src="assets/icon/done.png" alt=""></ion-img>
  </div>
  <div class="notifications-container">
    <p>Sir, your order is ready. Please sit at table 2. Thank you.</p>
    <ion-img src="assets/icon/done.png" alt=""></ion-img>
  </div>
</ion-content>
