<div class="toolbar">
    <ion-back-button defaultHref="/" class="btn-back"></ion-back-button>
    <label class="lb-toolbar"> Setting </label>
    <div class="toolbar-end">
        <ion-icon name="notifications-sharp" style="margin-top: 2px;"></ion-icon>
        <ion-icon name="bag-handle-outline" style="margin: 0 7px 0 7px;"></ion-icon>
        <img src="/assets/icon/favicon.png" />
    </div>
</div>

<ion-content>
    <h2 class="lb-noti">Cài đặt thông báo</h2>
    <div class="container-button">
        <ion-button class="ctn-btn">Thông báo ứng dụng</ion-button>
        <ion-button class="ctn-btn">Thông báo Email & SMS</ion-button>
        <ion-button class="ctn-btn">Thông báo đặt trước</ion-button>
        <ion-button class="ctn-btn">Đăng xuất</ion-button>
    </div>
</ion-content>