* {
    font: Inria Sans;
}

.toolbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #FFA724;
    ion-back-button {
        float: left;
        color: white;
    }
    label {
        float: left;
        font-size: 20px;
        margin-top: 12px;
        color: white;
    }
}

.toolbar-end {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #FFA724;
    position: fixed;
    right: 0;
    padding: 0.5rem;
    margin-right: 10px;
    ion-icon {
        height: 30px;
        width: 30px;
        color: white;
    }
    img {
        width: 35px;
        height: 35px;
    }
}

.container-button {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    --ion-color-primary: #F6F6F6;
    border-radius: 15px;
    ion-button {
        color: black;
        border: 1px solid none;
        border-radius: 180px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 15px;
        font-weight: 550;
        text-transform: none;
        height: 40px;
        --border-radius: 15px;
    }
     :hover {
        --ion-color-primary: #FFA724;
        --transition: 0.8s;
    }
}

.lb-noti {
    margin: 24px 0px 0px 24px;
}